name: Build and Deploy to Live Channel
on:
  push:
    branches:
      - main

jobs:
  build_and_deploy_prod:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: npm ci && npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_BLEND85_WEB }}"
          projectId: blend85-web
          channelId: live